.boards {
  width: 100%;
  height:50%;
  /*border: 5px solid white;*/
  margin-top: 50px;
  margin-left: 1%;
  display: inline-block;
  padding-left: 0px;
  background-color: white;
}

.sk8b {
  width: 8%;
  height: 8%;
  display: inline-block;
  margin-left: 1.1%
}
